# Python specific
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# IDE specific
.vscode/
.idea/

# Compiled files
*.exe
*.dll
*.so
*.pyd
*.o
*.obj

# Logs and databases
*.log
*.sqlite
*.db

# OS specific
.DS_Store
Thumbs.db

# PyInstaller specific
build/
*.spec

dist/
*.build/
*.onefile-build/
*.dist/
dist/ipch_and_browser_vc_search.exe
output.txt
